@charset "UTF-8";

body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;}
body>header{
    text-align: center;
    color : rgb(255, 255, 255);
}
section>p>img{
    background-color: white;
    background-size: 400px;
    background-position: center;
    text-align: center;
    display:block;
    margin: auto;

}